@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Merriweather:wght@400;700&display=swap');
body{
    font-family: 'Merriweather', serif;
   
}
header ul{
    text-align:right;
}
header li{
    display:inline-block;
    padding-right: 40px;
}
header ul a{
    text-decoration: none;
    color: black;
}
header ul a:hover{
    text-decoration: underline;
}
header section{
    padding: 250px 10%;
    background: url(../img/profile-foto.svg) right/contain no-repeat; 
}
/*backgroundImg*/
.darkMode #img1{
    background: url("../img/profile-foto.svg") right/contain no-repeat;
}
.darkMode #studies{
    background: url("../img/thinking-head-dark.svg") left/contain no-repeat;
}
.darkMode #expirience{
    background: url("../img/work-expirience-dark.svg") right/contain no-repeat;
}
/* --------------------------------- */
#dark, #light{
    text-decoration: none;
    color: gray;
    border: 2px dotted gray;
    padding: 10px 30px;
    margin-left: 10px;
}
header section h1{
    font-size: 50px;
    width: 650px;
}
header section p{
    width: 600px;
    font-size: 20px;
    line-height: 50px;
}
header section a{
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 1px grey
    ;
}
header section a:first-of-type{
    background-color: black;
    color: white;
    margin-right: 5px;
}

header section button{
    text-decoration: none;
    padding: 20px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-right: 5px;
}

/* ----------------Section 1 - Estudios-------------------- */
main section:nth-of-type(1){
    margin-top: 10%;
    margin-left: 10%;
    padding: 200px 8%;
    padding-left: 50%;
    background: url(../img/thinking-head.svg) left/contain no-repeat;
}
main section:first-child h1{
    font-size: 50px;
    width: 650px;
}
main section:first-child p{
    width: 600px;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
}
/* ----------------Section 2 - Experiencia--------------------- */
main section:nth-of-type(2){
    margin-top: 10%;
    padding: 150px 10%;
    margin-right: 10%;
    background: url(../img/work-expirience.svg) right/contain no-repeat;
}
main section:nth-of-type(2) h1{
    font-size: 50px;
    width: 550px;
}
main section:nth-of-type(2) p{
    width: 450px;
    font-size: 20px;
    line-height: 50px;
    text-align: justify;
}
/* ----------------Section 3 con tres fotos--------------------- */
main section:nth-of-type(3) div{
    text-align: center;
    margin: 20% 0 5% 15%
}
main section:nth-of-type(3) h1{
    font-size: 60px;
    width: 80%;
}
main section:nth-of-type(3) p{
    font-size: 30px;
    line-height: 60px;
    width: 80%;
}
main section:nth-of-type(3) img{
    width: 25%;
    margin-left: 6%;
    display: inline-block;
}

main section:nth-of-type(3) img:hover{
    box-shadow: -1px 1px 15px 1px #6D6D6D
}
/* ----------------Section 4 con dos fotos--------------------- */
main section:nth-of-type(4) div:first-of-type{
    text-align: center;
    margin: 15% 0 0 20%;
}
main section:nth-of-type(4) h1{
    font-size: 60px;
    width: 80%;
    margin-top: 0%;
}
main section:nth-of-type(4) p{
    font-size: 30px;
    line-height: 60px;
    width: 80%;
}
main section:nth-of-type(4) div{
    margin-top: 5%;
    text-align: center;
}
main section:nth-of-type(4) img{
    width: 630px;
    margin-left: 5%;
    margin-top: 5%;
    display: inline-block;
}
main section:nth-of-type(4) img:hover{
    box-shadow: -1px 1px 15px 1px #6D6D6D;
}

/* ----------------Section 5--------------------- */
main section:nth-of-type(5) div:first-of-type{
    text-align: center;
    margin: 15% 0 0 20%;
}
main section:nth-of-type(5) div:first-of-type h1{
    font-size: 60px;
    width: 80%;
    margin-top: 0%;
}
main section:nth-of-type(5) div:first-of-type p{
    font-size: 30px;
    line-height: 60px;
    width: 80%;
}
/* ----------------+Datos div--------------------- */
main section:nth-of-type(5) div:last-of-type p{
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 50px

}
main section:nth-of-type(5) div:last-of-type h1{
    font-size: 60px;
}
main section:nth-of-type(5) div:last-of-type{
    text-align: center;
    border: 1px solid transparent;
    border-radius: 5px; 
    background-color:#F5FBFE;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    width: 50%;
    color: #202020;
    padding: 90px 0px;
}
/* ----------------FOOTER--------------------- */
footer h1{
    font-size: 70px;
    text-align: center;
}
footer p{
    text-align: center;
    color: grey
}
footer h2{
    text-align: center;
    font-size: 15px;
}
footer ul{
    text-align: center
}
footer ul li{
    display: inline-block;
    font-size: 15px
}
.first::before{
    content: ". ";
  color: #3b5998;
}
.second::before{
    content: ". ";
  color: #fcaf45;
}
.third::before{
    content: ". ";
  color: #55acee;
}
.fourth::before{
    content: ". ";
  color: #c4302b;
  
}
.fourth{
    padding-right: 50px;
    margin-top: 20px;
}

/*------------FUENTES DE INFORMACIÓN UTILIZADAS-------------

https://developer.mozilla.org/es/docs/Web/CSS/:nth-of-type
https://developer.mozilla.org/es/docs/Web/CSS/:first-child
https://www.youtube.com/watch?v=OWKXEJN67FE&t=15433s

Algunas dudas a una amiga que se encuentra realizando un bootcamp en alemania

------------------------------------------------------------*/